delialert-width= 450px

.delialert-wrap
    color #434343

.delialert
    position  fixed
    padding  20px 5vh
    top  50%
    left  50%
    width  delialert-width
    margin-left  -(delialert-width/2)
    margin-top -120px
    background-color  #fff
    border-radius  4px
    opacity  0
    transform  scale(.7) translate3d(0, -50%, 0)
    will-change  opacity, transform
    z-index  10
    border none
    box-shadow 0 0 20px rgba(0, 0, 0, .2)
    user-select  none
    visibility hidden
    z-index 100000
    box-sizing border-box

    &.delialert--icon
        margin-top -200px

    .is-visible &
        animation-name APPEARPOP
        animation-duration 1.1s
        animation-timing-function cubic-bezier(0.445,  0.050, 0.550, 0.950)
        animation-fill-mode forwards
        visibility visible

.delialert-Btn
    padding pad-xs
    border-radius 4px
    transition .2s background linear, .2s color linear, .2s border linear
    line-height 1
    -webkit-font-smoothing antialiased
    text-rendering optimizeLegibility
    font-weight 700
    cursor pointer
    text-align center
    text-decoration none
    border none
    box-shadow none
    color #FFF
    user-select none
    position relative
    overflow hidden
    outline none

    &.delialert-Cancel
        background neutral
        color text-color

    &:before
        content ''
        background-color rgba(255, 255, 255, .15)
        left 0
        top 0
        bottom 0
        right 0
        position absolute
        transform-origin center center
        transform scale(.6)
        opacity 0
        pointer-events none
        transition transform .12s cubic-bezier(0.445,  0.050, 0.550, 0.950), opacity .12s linear


    &:hover:before
        transform scale(1)
        opacity 1

    &:active:before
        transform scale(1)
        opacity 1
        background-color rgba(0, 0, 0, .05)


    &:focus
        box-shadow inset 0 0 0 1px rgba(0,0,0,0.2), 0 1px 4px rgba(0,0,0,.2)

.delialert-Title
    font-size 1.4em
    font-weight 500
    text-align center
    line-height 1.3
    margin 0 0 1.2rem 0
    display block
    position relative
    z-index 2

.delialert-Text
    font-size 15px
    font-weight 300
    text-align center

.delialert-Actions
    display flex
    justify-content center
    align-items center
    padding 1em 0 0

    button + button
        margin-left 1em

.delialert-overlay
    position fixed
    left 0
    right 0
    top 0
    bottom 0
    background-color rgba(0,0,0,.6)
    z-index 99999

@keyframes APPEARPOP
    0%
        transform translate3d(0, 39.99px, 0) scale(0.6001)
    17.60%
        transform translate3d(0, -6.88px, 0) scale(1.1098)
    38.20%
        transform translate3d(0, 2.96px, 0) scale(0.9704)
        opacity 1
    58.80%
        transform translate3d(0, -0.68px, 0) scale(1.0068)
        opacity 1
    79.40%
        transform translate3d(0, 0.16px, 0) scale(0.9984)
        opacity 1
    100.00%
        transform translate3d(0, 0, 0) scale(1)
        opacity 1

.delialert .sa-icon
    width 80px
    height 80px
    border 4px solid gray
    border-radius 50%
    margin 20px auto
    padding 0
    position relative
    box-sizing content-box
    z-index 1


.delialert .sa-icon.sa-warning
    border-color alert-color
    .sa-body
        position absolute
        width 5px
        height 47px
        left 50%
        top 10px
        border-radius 2px
        margin-left -2px
        background-color alert-color

    .sa-dot
        position absolute
        width 7px
        height 7px
        border-radius 50%
        margin-left -3px
        left 50%
        bottom 10px
        background-color alert-color



.delialert .sa-icon.sa-success
    border-color brand-3
    &:before, &:after
        content ''
        border-radius 50%
        position absolute
        width 60px
        height 120px
        background white
        transform rotate(45deg)

    &:before
        border-radius 120px 0 0 120px
        top -7px
        left -33px
        transform rotate(-45deg)
        transform-origin 60px 60px

    &:after
        border-radius 0 120px 120px 0
        top -11px
        left 30px
        transform rotate(-45deg)
        transform-origin 0px 60px

    .sa-placeholder
        width 80px
        height 80px
        border 4px solid rgba(brand-3, 0.2)
        border-radius 50%
        box-sizing content-box
        position absolute
        left -4px
        top -4px
        z-index 2


    .sa-fix
        width 5px
        height 90px
        background-color white
        position absolute
        left 28px
        top 8px
        z-index 1
        transform rotate(-45deg)

    .sa-line
        height 5px
        background-color brand-3
        display block
        border-radius 2px
        position absolute
        z-index 2


    .sa-line.sa-tip
        width 25px
        left 14px
        top 46px
        transform rotate(45deg)


    .sa-line.sa-long
      width 47px
      right 8px
      top 38px
      transform rotate(-45deg)

@keyframes animateSuccessTip
  0%
    width 0
    left 1px
    top 19px
  54%
    width 0
    left 1px
    top 19px
  70%
    width 50px
    left -8px
    top 37px
  84%
    width 17px
    left 21px
    top 48px
  100%
    width 25px
    left 14px
    top 45px


@keyframes animateSuccessLong
  0%
    width 0
    right 46px
    top 54px
  65%
    width 0
    right 46px
    top 54px
  84%
    width 55px
    right 0px
    top 35px
  100%
    width 47px
    right 8px
    top 38px


@keyframes rotatePlaceholder
  0%
    transform rotate(-45deg)

  5%
    transform rotate(-45deg)

  12%
    transform rotate(-405deg)

  100%
    transform rotate(-405deg)

.is-visible .sa-line.sa-tip
    animation animateSuccessTip 0.75s

.is-visible .sa-line.sa-long
    animation animateSuccessLong 0.75s

.is-visible .sa-icon.sa-success:after
    animation rotatePlaceholder 4.25s ease-in
