.delipress__flex
    display flex

    @media screen and (max-width: 1300px)
        flex-wrap wrap

.delipress__flex--center
    align-items center

.delipress__flex--top
    align-items flex-start

.delipress__flex--end
    display flex
    justify-content flex-end

.delipress__f10
    flex 10

.delipress__f5
    flex 5

.delipress__f4
    flex 4

.delipress__f3
    flex 3

.delipress__f2
    flex 2

.delipress__f1
    flex 1

.delipress__fauto
    flex auto

.delipress__c14
    width calc(25% - 30px)
    margin 15px


.delipress__row
    display flex
    margin 0 -10px

    .delipress__f1
        margin 10px
