.delipress__loader
    width: 200px
    height: 200px
    filter: url('#goo')
    transform scale(.6)
    animation: rotate-move 2s ease-in-out infinite

    svg
        display none


.delipress__loader__dot
    width: 70px
    height: 70px
    border-radius: 50%
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0
    margin: auto

.delipress__loader__dot--1
  background-color: brand-1
  animation: dot-3-move 2s ease infinite


.delipress__loader__dot--2
  background-color: brand-2
  animation: dot-2-move 2s ease infinite


.delipress__loader__dot--3
  background-color: brand-3
  animation: dot-1-move 2s ease infinite


@keyframes dot-3-move
    20%
        transform: scale(1)
    45%
        transform: translateY(-18px) scale(.45)
    60%
        transform: translateY(-90px) scale(.45)
    80%
        transform: translateY(-90px) scale(.45)
    100%
        transform: translateY(0px) scale(1)


@keyframes dot-2-move
    20%
        transform: scale(1)
    45%
        transform: translate(-16px, 12px) scale(.45)
    60%
        transform: translate(-80px, 60px) scale(.45)
    80%
        transform: translate(-80px, 60px) scale(.45)
    100%
        transform: translateY(0px) scale(1)


@keyframes dot-1-move
    20%
        transform: scale(1)
    45%
        transform: translate(16px, 12px) scale(.45)
    60%
        transform: translate(80px, 60px) scale(.45)
    80%
        transform: translate(80px, 60px) scale(.45)
    100%
        transform: translateY(0px) scale(1)


@keyframes rotate-move
    55%
        transform: rotate(0deg) scale(.6)
    80%
        transform: rotate(360deg) scale(.6)
    100%
        transform: rotate(360deg) scale(.6)
