.delipress__models__list
    display flex
    flex-wrap wrap
    justify-content space-between
    padding 0 .3rem

.delipress__models__item
    flex none
    width 33%
    padding .3rem
    cursor pointer
    transition all .2s

    &:hover
        box-shadow inset 0 0 0 2px link-color

.delipress__models__wrap
    font-size 10px
    background-color #DDD
    padding .5em 0 0
    overflow hidden

.delipress__models__image
    width 30%
    float left
    margin .3em

.delipress__models__text
    float left
    width calc(65% - .6em)

.delipress__models__text-title, .delipress__models__text-p
    display block
    height .35em
    background-color rgba(0,0,0,.1)
    margin .35em

.delipress__models__text-title
    background-color rgba(0, 0, 0, .3)

.delipress__models__form
    width 100%
    padding .5em
    display flex
    justify-content space-around
    align-items center

.delipress__models__input
    background-color #fff
    height 1em
    width 60%

.delipress__models__button
    height 1em
    background-color purple
    width 30%
