.delipress__resave
    border-radius radius
    padding pad-xs
    display flex
    align-items center
    color wp-text-color
    background alert-color
    font-size 1.1em

    p
        margin 0
        flex auto
