.delipress__selection
    border 1px solid neutral
    border-radius 2px
    overflow hidden

.delipress__selection__item
    border 1px solid neutral
    padding 8px
    display flex
    margin 0

.delipress__selection__item__name
    flex 1

.delipress__selection__item__actions
    span
        cursor pointer
        color darken(neutral, 20%)
        width 20px
        height 20px
        font-size 20px
        margin-left 3px
        transition base-transition

        &:hover
            color text-color
