.delipress__report
    .delipress__flex
        max-width 1000px
        margin pad-s auto
    .delipress__f1
        padding 0 pad-s

.delipress__stats__bar-legend
    display flex
    justify-content space-between
    font-size 16px

    span
        font-weight 600

.delipress__stats__bar-wrap
    margin-top pad-xs
    border-radius radius
    height 1em
    background-color neutral

.delipress__stats__bar-fill
    height 100%
    border-radius radius
    background-color brand-3

.delipress__stats
    display flex
    justify-content center
    align-items center
    max-width 1000px
    margin pad-m auto

.delipress__stats__item
    flex 1
    display flex
    flex-direction column
    align-items center
    justify-content center
    padding 0 1em
    border 1px solid neutral
    height 120px

    &:not(:last-of-type)
        border-right none

    strong
        font-size 26px
        display inline-block
        line-height 1.5em

    span
        font-size 20px
        font-weight 300

.delipress__stats__summary
    font-size 18px
    font-weight 300
    max-width 750px
    margin pad-xs auto
    text-align center


.delipress__chart
    max-width 1000px
    margin pad-m auto

.delipress__stats__list
    margin-top pad-s

.delipress__stats__list-item
    display flex
    padding .3rem 0

    i
        border-bottom 1px dotted neutral
        flex 1
        margin 0 5px
