.delipress__tabs
    margin pad-l -20px 0
    border-bottom 2px solid neutral
    padding 0 pad-s

    .delipress__isactive
        border-bottom 2px solid white
        background white

.delipress__tabs__item
    display inline-block
    margin-right 1px
    padding pad-xs pad-s
    border 2px solid neutral
    border-top-left-radius radius
    border-top-right-radius radius
    color text-color
    text-transform uppercase
    font-size 1.1em
    font-weight 500
    transform translateY(2px)
    background neutral

    &:hover
        cursor pointer
