.delipress__tag
    display inline-block
    background neutral
    color text-color
    font-size .8em
    padding 1px 6px
    margin 2px 4px 0 0
    border-radius 20px
    white-space nowrap

.delipress__tag__color
    display inline-block
    width 8px
    height 8px
    border-radius 50%
    background link-color

.delipress__tag--empty
    background transparent
    border 1px solid neutral
