brand-1 = #ED6657         // Red
brand-2 = #AA568A         // Purple
brand-3 = #59C9A5         // Green

brand-1-hover = darken(brand-1, 4%)

neutral = #EAEEF0         // light grey
light-neutral = #F8F9F9
dark = #32373C            // dark grey
text-color = #778F9B      // grey
wp-text-color = #23282C   // black

link-color = #54C4F7                      // Blue
focus-color = lighten(link-color, 40%)    // lighter blue
save-color = brand-3                      // Green
error-color = brand-1                     // Red
alert-color = #F3C178                     // Yellow
mandatory-color = alert-color             // Yellow
premium-color = #FBA342                   // Premium Orange only for premium features

pad-xs = 10px
pad-s  = 20px
pad-m  = 30px
pad-l  = 40px
pad-xl  = 60px
pad-content = 15px

input-height = 42px
builder-input-height = 30px

radius = 4px
base-transition = .2s all ease-out
base-shadow = 0 2px 4px rgba(0,0,0,.1)
scrollbar-width = 30px // From fb css

tooltip-color = wp-text-color
