.mce-content-body
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    dl,
    dt,
    ol,
    div:not([class]),
    caption,
    ul,
    li,
    dd,
    li,
    iframe,
    strong,
    em,
    span:not([class]),
    small,
    img,
    a:not([class]),
    b,
    i,
    hr,
    blockquote
        background-attachment scroll
        background-color transparent
        background-image none

        background-position 0 0
        background-repeat repeat
        border-color black
        border-color currentColor

        border-radius 0
        border-style none
        border-width medium
        bottom auto
        clear none
        clip auto
        color inherit
        counter-increment none
        counter-reset none
        cursor auto
        direction inherit
        display inline
        float none
        font-family inherit

        font-size inherit
        font-style inherit
        font-variant normal
        font-weight inherit
        height auto
        left auto
        letter-spacing normal
        line-height inherit
        list-style-type inherit

        list-style-position outside
        list-style-image none
        margin 0
        // max-height none
        // max-width none
        min-height 0
        min-width 0
        opacity 1;
        outline invert none medium
        overflow visible
        padding 0
        position static
        quotes "" ""
        right auto
        table-layout auto
        text-align inherit
        text-decoration inherit
        text-indent 0
        text-transform none
        top auto
        unicode-bidi normal
        vertical-align baseline
        visibility inherit
        white-space normal
        // width auto
        word-spacing normal
        z-index auto


        background-origin padding-box
        background-clip border-box
        background-size auto
        border-image none
        border-radius 0
        box-shadow none
        box-sizing content-box
        column-count auto
        column-gap normal
        column-rule medium none black
        column-span 1
        column-width auto
        font-feature-settings normal
        overflow-x visible
        overflow-y visible
        hyphens manual
        perspective none
        perspective-origin 50% 50%
        backface-visibility visible
        text-shadow none
        transition all 0s ease 0s
        transform none
        transform-origin 50% 50%
        transform-style flat
        word-break normal


    h3,
    h5,
    p,
    h1,
    dl,
    dt,
    h6,
    ol,
    pre,
    div:not([class]),
    h2,
    h4,
    ul,
    dd,
    hr,
    section,
    blockquote
        display block

    h1,
    h2,
    h3,
    h4,
    h5,
    h6
        font-weight bold

    h1
        // font-size 2em
        margin .67em 0
        margin-top: 0;
        &:after
            display none

    h2
        // font-size 1.5em
        // padding .83em 0

    h3
        // font-size 1.17em
        // padding .83em 0

    h4
        // font-size 1em

    h5
        font-size .83em

    p
        // margin 1em 0

    table
        display table

    thead
        display table-header-group

    tbody
        display table-row-group

    tfoot
        display table-footer-group

    tr
        display table-row

    th, td
        display table-cell
        // padding 2px // BUG ON PREVISU
    td
        line-height initial

    ol,
    ul
        margin 1em 0


    ul li,
    ul ul li,
    ul ul ul li,
    ol li,
    ol ol li,
    ol ol ol li,
    ul ol ol li,
    ul ul ol li,
    ol ul ul li,
    ol ol ul li
        list-style-position inside
        margin-top .08em


    ol ol,
    ol ol ol,
    ul ul,
    ul ul ul,
    ol ul,
    ol ul ul,
    ol ol ul,
    ul ol,
    ul ol ol,
    ul ul ol
        padding-left 40px
        margin 0


    ul
        list-style-type disc

    ol
        list-style-type decimal


    ol ul,
    ul ul,
    menu ul,
    ol menu,
    ul menu,
    menu menu
        list-style-type circle


    ol ol ul,
    ol ul ul,
    ol menu ul,
    ol ol menu,
    ol ul menu,
    ol menu menu,
    ul ol ul,
    ul ul ul,
    ul menu ul,
    ul ol menu,
    ul ul menu,
    ul menu menu,
    menu ol ul,
    menu ul ul,
    menu menu ul,
    menu ol menu,
    menu ul menu,
    menu menu menu
        list-style-type square


    li
        display list-item

        min-height auto
        min-width auto
        padding-left 20px


    strong
        font-weight bold


    em
        font-style italic


    kbd,
    samp,
    code,
    pre
        font-family monospace


    a:not([class]),
    a:not([class]) *,
        cursor pointer


    blockquote,
    q
        quotes none

    blockquote:before,
    blockquote:after,
    q:before,
    q:after,
    li:before,
    li:after
        content ""

    table
        border-collapse collapse
        border-spacing 0

    hr
        display block
        height 1px
        border 0
        border-top 1px solid #ccc
        margin 1em 0

    img
        border 0
