.delipress__fake__site--flyin
    #DELI-Optin.DELI-Flyin
        position absolute

#DELI-Optin.DELI-Flyin
    width 400px
    position fixed
    bottom 0
    right 0
    z-index 100000

    .DELI-wrapper
        position relative
        z-index 100000
        margin 0

#DELI-Optin.DELI-Flyin--left
    right auto
    left 0

#DELI-Optin.DELI-Flyin--center
    left 50%
    margin-left -200px
