// Hero
.delipress__hero
    position relative
    margin -15px -15px 0
    padding 60px 20px 20px
    background linear-gradient(300deg,#29323c 0%,#485563 100%)
    background-size cover
    z-index 1

.delipress__hero__skip
    position absolute
    top 10px
    right 10px
    color #72C2F2

.delipress__hero__content
    text-align center
    max-width 600px
    margin 0 auto
    color white

    h1
        color white
        text-transform none
        padding-bottom 0

        &:after
            display none

    p
        font-size 16px
        margin 1.5em 0

.delipress__hero__logo
    display block
    width 150px
    margin 0 auto


// Section
.delipress__section
    padding 20px 0

// Features
.delipress__features
    margin 0 -10px
    display flex
    flex-wrap wrap

.delipress__features__item
    display flex
    flex-direction column

.delipress__features__item__image
    margin-bottom pad-xs

.delipress__features__item__desc
    flex 1

    p
        margin 0

.delipress__features__item__action
    text-align center
